
<body>
    
<!-- open modal button -->
<div class="info-btn-container">
    <button id="open">Info</button>
</div>

<div class="new">
    <h1>Logged Journal Entries</h1>

<!-- populate data below -->


<ul class="list-group">
    <% entries.forEach(v => { %>
        <li><a href="/journal/<%=v.id%>/edit"><%=v.date %></a></li>
    <% }); %>
</ul>


<!-- navigate to create new entry page -->
    <a id="new-link" href="/journal/new">New Entry</a>
</div>



<!-- <div class="list-container">

    <ul class="entries-list">
        <li class="entry-links">
            
        </li>
    </ul> -->

    
   <!-- <form>
    create blank buttons - will fill w journal entry 'titles'
    <p><%=this.date%></p>
    <a href="/journal/index/<%=this.id%>/show" class="btn btn-primary"><%=this.date%></a>

    -- button to delete existing entry --
    <button type="button" class="remove-entry">x</button>

   <br/>

    <input class="list-entry" type="button" value="">

    button to delete existing entry
    <button type="button" class="remove-entry">x</button>


    <br/>


    create new journal entry button !
    <input id="new-entry" type="button" value="New Entry" onclick="location.href='http://localhost:4009/journal/new'">

    </form> -->
</div>

    <div class="quotes-container">
        <p id="affirmation"></p>
    </div>

    <div class="custom-container">
    <input class="customize" type="button" value="Change Theme">
    </div>


    <!------- modal container below! ------->
<div class="modal-container" id="modal-container">
    <div class="info-modal">
        <h1>Welcome to toasty !</h1>
        <p>Toasty is an application created for all of your journaling needs. To help you get started, here is a brief overview of how the app works.</p>

        <img id= "demo" src="/img/wireframe_1.png">

        <button id="close">Thank you!</button>
    </div>
</div>

    


</body>